aclocal.m4
autom4te.cache
Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
libtool
*.pc
config.log
config.status
config
configure
.cproject
.project
.settings
.dlls
dcetestdec
.executables
.interfaces
.libraries*
*.mak
*.xem3
ducati/ti/dce/package
